<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecoopmart renew password</title>
    <link rel="icon" type="image/png" href="/ECOOP-LOGO.png" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <img src="/logo.png" alt="Logo" class="logo" />
      <h1>RENEW PASSWORD</h1>
      <form action="/views/renew" method="post" onsubmit="return validateForm()">
        <div class="form-group">
          <label for="username">email or phone:</label>
          <input type="text" id="username" name="username" />
        </div>
        <div class="form-group">
          <label for="password">New password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <div class="form-group">
          <button type="submit">RENEW</button>
        </div>
      </form>
    </div>
    <script src="/script.min.js"></script>
  </body>
</html>
