<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecoopmart renew password</title>
    <link rel="icon" type="image/png" href="/ECOOP-LOGO.png" />
    <link rel="stylesheet" href="/style1.css" />
  </head>
  <body>
    <div class="container">
      <img src="/logo.png" alt="Logo" class="logo" />
      <h1>SUCCESS</h1>
      <p>Your password was renewed successfully.</p>
    </div>
    <script src="/script.min.js"></script>
  </body>
</html>
